
<%= simple_form_for [current_user, recipe], remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :length %>
    <%= f.input :description %>
    <%= f.input :cuisine, collection: Cuisine.all %>
    <%= f.input :level_of_difficulty, collection: ['easy', 'medium', 'hard'] %>
    <%# <%= f.simple_fields_for :recipes_ingredients do |i| %>
    <%# <%= i.input :ingredient, collection: Ingredient.all, %>
                <%# # input_html: { multiple: true, checked: recipe.ingredients.pluck(:id) }, %>
              <%# # wrapper_html: { class: 'form-group' }, :as => :check_boxes, include_hidden: false  %>
    <%# <% end %>
    <%= f.association :ingredients, collection: Ingredient.all, as: :check_boxes, include_hidden: false,
               input_html: { multiple: true, selected: recipe.ingredients.pluck(:id) } %>
     <%# <%= f.simple_fields_for :recipes_diets do |i| %>
    <%# <%= i.input :diet, collection: Diet.all, %>
                <%# input_html: { multiple: true }, %>
                <%# wrapper_html: { class: 'form-group' }, :as => :check_boxes, include_hidden: false  %>
   <%# <% end %>
   <%= f.association :diets, collection: Diet.all, as: :check_boxes, include_hidden: false,
               input_html: { multiple: true, selected: recipe.diets.pluck(:id) } %>
    <div class="form-actions">
      <%= f.button :submit, "Update Recipe", class: "btn btn-ghost btn-block border border-dark rounded-pill" %>
    </div>
  </div>
<% end %>
