
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= recipe.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <%= simple_form_for [current_user, recipe], html: { class: 'modern-form', style: "width:100%" } do |f| %>
          <%= f.error_notification class: 'alert alert-danger' %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence, class: 'alert alert-danger' if f.object.errors[:base].present? %>

          <div class="form-group">
            <%= f.input :title, class: 'form-control', placeholder: 'Title' %>
          </div>

          <div class="form-group">
            <%= f.input :length, class: 'form-control', placeholder: 'Length' %>
          </div>

          <div class="form-group">
            <%= f.input :description, class: 'form-control', placeholder: 'Description', as: :text %>
          </div>

          <div class="form-group">
            <%= f.input :cuisine, collection: Cuisine.all, label: 'Select Cuisine', class: 'form-control' %>
          </div>


          <div class="form-group">
            <%= f.input :level_of_difficulty, collection: ['easy', 'medium', 'hard'], label: 'Difficulty', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.input :recipes_ingredients,
                        collection: Ingredient.all,
                        label: 'Ingredients',
                        class: 'form-control',
                        input_html: {multiple: true, data: {controller: "tom-select"}}
                         %>
          </div>


          <%# <div class="d-flex justify-content-between">
            <div class="form-group">
              <%= f.simple_fields_for :recipes_ingredients do |i| %>
                <%# <%= i.input :ingredient, collection: Ingredient.all,
                            as: :check_boxes,
                            label: 'Ingredients',
                            wrapper_html: { class: 'form-group' },
                            input_html: { class: 'form-check-input' },
                            item_wrapper_class: 'form-check',
                            include_hidden: false %>
              <%# <% end %>
            <%# </div>  %>

            <div class="form-group">
              <%= f.simple_fields_for :recipes_diets do |i| %>
                <%= i.input :diet, collection: Diet.all,
                            as: :check_boxes,
                            label: 'Diets',
                            wrapper_html: { class: 'form-group' },
                            input_html: { class: 'form-check-input' },
                            item_wrapper_class: 'form-check',
                            include_hidden: false %>
              <% end %>
            </div>

          <div class="form-group">
            <%= f.input :photo, as: :file %>
          </div>

          <div class="form-group text-center">
            <%= f.button :submit, 'Submit', class: 'btn btn-ghost btn-block rounded-pill border' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
