
<div class="row my-3" data-search-target="list">
  <% @recipes_result.each do |recipe| %>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card-trip">
        <%= cl_image_tag recipe.photo.key, height: 220, width: "100%" %>
        <div class="card-trip-infos">
          <h5 class="card-title"><%= recipe.title %></h5>
          <div class="d-flex justify-content-between align-bottom">
            <p> by <%= recipe.user.nickname %></p>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" id="small-btn" class="btn btn-sm btn-ghost" data-bs-toggle="modal" data-bs-target="#description-<%= recipe.id %>">more</button>
              <% if @prior_bookings.where(recipe: recipe, user: current_user).count == 0 %>
                <button type="button" id="small-btn" class="btn btn-sm btn-ghost" data-bs-toggle="modal" data-bs-target="#booking-<%= recipe.id %>">book</button>
              <% else %>
                <p style="font-size: 15px" id="color">date is coming!</p>
              <% end %>
            </div>
          </div>
          <%= cl_image_tag recipe.user.avatar.key,
              class: "shadow-sm card-trip-user avatar-bordered",
              width: 50, height: 50,
              data: { bs_toggle: "modal", bs_target: "#user-#{recipe.user.id}" } %>
        </div>
      </div>
    </div>
    <%= render "shared/card", recipe: recipe %>
    <%= render "shared/user", recipe: recipe %>
    <%= render "booking", recipe: recipe, booking: @booking %>
  <% end %>
</div>
