 <div class="cards-container" data-search-target="list">
  <% recipes.each do |recipe| %>
    <div class="card mt-5">
      <%= cl_image_tag recipe.photo.key, class: 'card-image' %>
      <h5 class="card-title"><%= recipe.title %> by <%= recipe.user.nickname %></h5>
      <div class="trip-infos">
        <a href="#" data-bs-toggle="modal" data-bs-target="#user-<%= recipe.user.id %>">
          <%= content_tag :span, class: "trip-infos-avatar" do %>
            <%= cl_image_tag recipe.user.avatar.key, class: "shadow-sm", width: 50, height: 50 %>
          <% end %>
        </a>

        <button type="button" class="btn btn-sm btn-ghost" data-bs-toggle="modal" data-bs-target="#description-<%= recipe.id %>">
          more
        </button>
      </div>
      <% bookings = prior_bookings.where(recipe: recipe, user: current_user) %>
      <% if bookings.count.zero? %>
        <button type="button" class="btn btn-sm btn-ghost" data-bs-toggle="modal" data-bs-target="#booking-<%= recipe.id %>">
          book
        </button>
      <% else %>
        already booked!
      <% end %>
    </div>
    <%= render "shared/card", recipe: recipe %>
    <%= render "shared/user", recipe: recipe %>
    <%= render "booking", recipe: recipe, booking: @booking %>
  <% end %>
</div>
