
<div class="booking-list">
  <% @my_requests.not_declined.each do |booking| %>
    <div class="booking-card">
      <div class="user-nickname">
        <h4><strong>future CookingMate:</strong> <%= booking.user.nickname %></h4>
      </div>
      <h4 class="booking-status"><strong>Status: </strong><%= booking.status %></h4>
      <h4 class="recipe-title"><strong>You are gonna learn:</strong> <%= booking.recipe.title %></h4>
      <h4 class="recipe-date"><strong>you booked this recipe on:</strong> <%= booking.date %></h4>
      <% if booking.status == 'pending' %>
        <%= link_to "Accept" , accepted_path(booking),class: "btn btn-sm btn-ghost", data: { turbo_method: :patch } %>
        <%= link_to "Decline", declined_path(booking),class: "btn btn-sm btn-ghost", data: { turbo_method: :patch } %>
      <% end %>
      <% if booking.accepted? %>
        <%= link_to "open a chat", chatroom_path(booking.chatroom)%>
      <% end %>
    </div>
  <% end %>
  <% if @my_requests.not_declined.empty? %>
    Don't worry, your cooking mate is on its way!
  <% end %>
</div>



<!--
<div class= "request-list">
  <% @my_requests.each do |booking| %>
    <h3><%= booking.user.nickname %></h3>
    <h3><%= booking.date %></h3>
    <h3><%= booking.status%></h3>
  <% end %>
</div>
-->
