
<%# marcel work hard here !!! %>

<% if !user_signed_in? %>

  <div class="mb-5 banner">
    <div class="h-100 text-center">
      <div class="row h-100">
        <div class="col-3 align-self-start">
        </div>
        <div class="col-6 align-self-center">
          <div class="banner-title">
            <h1>Cooking Mate</h1>
          </div>
          <%= link_to "Join the Community", new_user_registration_path, class:"btn btn-ghost" %>
        </div>
        <div class="col-3 align-self-start text-end">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-ghost justify-content-end" %>
        </div>
      </div>
    </div>



<a href="#cards">
    <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
</a>





  <div id="cards" class="d-flex flex-row align-items-center justify-content-center mx-4">

    <div class="card-category px-5 mx-3">
      <strong><mark>Eva Mendes</mark></strong>
      <p></p>
      As soon as I downloaded the app and put a profile picture with
      my specialty in pasta and Italian food, I already received several
      invitations to a culinary meeting. That happened 1 year ago,
      until today we are still friends and we discovered that besides
      food we have many other professional and personal affinities.
      It was my best match!

    </div>

    <div class="card-category px-5 mx-3">
        <strong><mark>Ricky Martin</mark></strong>
        <p></p>
      My name is Martin, my new friends here on the app call me Ricky Martin the Big Boss,
      because I prepared for them one of my culinary specialties from Spain Paeja with baked seafood.
      That's why I got the name Chief. Thank you very much friends, it was a wonderful time!
    </div>

    <div class="card-category px-5 mx-3">
        <strong><mark>Emma Watson</mark></strong>
        <p></p>
        I have a hectic professional life, I'm always away from home so
        I do my homework outside. But after discovering this app, I can gather friends
        at my house and learn new special recipes from around the world.
        I want to thank here my friend Ana Müller who for the moments and meals together,
        thank you.
    </div>

    <div class="card-category px-5 mx-3">
      <strong><mark>Alejandro Salles</mark></strong>
      <p></p>
      I would like to thank this one because it was through him that I had wonderful
      moments with my friend Emma at that time. After a year on the app,
      Emma and I got married and learned several new dishes.
      Today in our house we are teaching our friends and neighbors how to cook.
    </div>
  </div>


<% else %>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,

            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>

        <%= submit_tag "Search", name: "", class: "btn btn-ghost" %>

      <% end %>
    </div>
    <div class="cards-container">
      <% @recipes.each do |recipe| %>
        <div class="card mt-5">

          <%= cl_image_tag recipe.title, height: 120, width: "100%"  %>
          <h5 class="card-title"><%= recipe.title %></h5>
          <div class="d-flex align-items-center justify-content-between my-2 w-100">
              <%= link_to profile_path(recipe.user) do %>
                  <%= cl_image_tag "https://res.cloudinary.com/dzltofqgu/image/upload/c_thumb,w_200,g_face/v1693286262/samples/woman-on-a-football-field.jpg", width: 35, height: 35 %>
                  <%# <%= cl_image_tag "https://res.cloudinary.com/dzltofqgu/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1693286262/samples/woman-on-a-football-field.jpg", width: 35, height: 35 %>
              <% end %>
              <% bookings = @prior_bookings.where(recipe: recipe, user: current_user) %>
                <% if bookings.count == 0 %>
                    <button type="button" class="btn btn-sm btn-ghost" data-bs-toggle="modal" data-bs-target="#booking-<%= recipe.id %>">
                      book
                    </button>
                <% else %>
                  <%= render "shared/card", recipe: recipe %>
                <% end %>
          </div>
        </div>
        <%= render "booking", recipe: recipe, booking: @booking %>
      <% end %>
    </div>

  </div>
<% end %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by marcel with <i class="fas fa-heart"></i>
  </div>
</div>
