
<%# marcel work hard here !!! %>


<% if !user_signed_in? %>
<div class="banner d-flex mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzltofqgu/image/upload/v1693286265/cld-sample-4.jpg);">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-ghost justify-content-end" %>
    <div class= "tagline d-flex justify-content-center align-items-center">
      <h1>Cooking Mate</h1>
       <%= link_to "Join the Community", new_user_registration_path, class:"btn btn-ghost" %>
    </div>
</div>

<%# <img src="https://res.cloudinary.com/dzltofqgu/image/upload/v1693286265/cld-sample-4.jpg" alt="banner"> %>



  <div class="d-flex flex-row align-items-center mx-4">

    <div class="card-category mx-3">
      <strong>Eva Mendes</strong>
      <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.

    </div>

    <div class="card-category mx-3">
        <strong>Rudi Müller</strong>
        <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="card-category mx-3">
        <strong>Fdddd </strong>
        <p></p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="card-category mx-3">
      <strong>Gonzalo Salles</strong>
      <p></p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.

    </div>


  </div>
</div>
    <% else %>
 <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
<% @recipes.each do |recipe| %>
  <h2><%= recipe.title %></h2>
  <div data-controller="toggle">
    <button data-action="click->toggle#seeMore">See more</button>
    <div data-toggle-target="seeMore" class="d-none">
      <%= render "recipes/more", recipe: recipe %>
    </div>
  </div>
<% end %>
 <% end %>
