
<%# marcel work hard here !!! %>

<% if !user_signed_in? %>

  <div class="mb-5 banner">
    <div class="h-100 text-center">
      <div class="row h-100">
        <div class="col-3 align-self-start">
        </div>
        <div class="col-6 align-self-center">
          <div class="banner-title">
            <h1>Cooking Mate</h1>
          </div>
          <%= link_to "Join the Community", new_user_registration_path, class:"btn btn-ghost" %>
        </div>
        <div class="col-3 align-self-start text-end">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-ghost justify-content-end" %>
        </div>
      </div>
    </div>

    <a href="#cards">
      <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>
    </a>

    <div id="cards" class="cards-grid">
      <div class="card-category px-5 mx-3">
        <strong><mark>Eva Mendes</mark></strong>
        <p></p>
        <footer class="blockquote-footer">
        As soon as I uploaded a picture with
        my specialty in pasta and Italian food, I already received several
        invitations to a culinary meeting. That happened 1 year ago,
        until today we are still friends and we discovered that besides
        food we have many other professional and personal affinities.
        It was my best match!
        </footer>

      </div>

      <div class="card-category px-5 mx-3">
          <strong><mark>Ricky Martin</mark></strong>
          <p></p>
          <p></p>
          <footer class="blockquote-footer">
        My name is Martin, my new friends here on the app call me Ricky Martin the Big Boss,
        because I prepared for them one of my culinary specialties from Spain Paella with baked seafood.
        That's why I got the name Chief. Thank you very much friends, it was a wonderful time!
        </footer>
      </div>

      <div class="card-category px-5 mx-3">
          <strong><mark>Emma Watson</mark></strong>
          <p></p>
          <footer class="blockquote-footer">
          I have a hectic professional life, I'm always away from home so
          I do my homework outside. But after discovering Cooking Mate, I can gather friends
          at my house and learn new special recipes from around the world.
          I want to thank here my friend Ana Müller who for the moments and meals together,
          thank you.
          </footer>

      </div>

      <%# <div class="card-category px-5 mx-3">
        <strong><mark>Alejandro Salles</mark></strong>
        <p></p>
        <footer class="blockquote-footer">
        I would like to thank this one because it was through him that I had wonderful
        moments with my friend Emma at that time. After a year on the app,
        Emma and I got married and learned several new dishes.
        Today in our house we are teaching our friends and neighbors how to cook.
        </footer>
      </div> %>
    </div>
  </div>

<% else %>

    <div class="row justify-content-center" data-controller="search">
    <div class="col-sm-8 my-3" >
      <%= form_with url: recipes_path, method: :get, html: {class: "d-flex", data: {search_target: "form"}} do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Look for your recipes, ingredients, cuisines, diets ....",
            data: {
              search_target: "input",
              action: "keyup->search#update"
              }
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-ghost" %>
      <% end %>
      <div data-action="click->search#filter" data-search-target="button">
        <button class="btn btn-ghost">Vegetarian</button>
        <button class="btn btn-ghost">Italian</button>
        <button class="btn btn-ghost">American</button>
        <button class="btn btn-ghost">Pumpkin</button>
    </div>
      <% if !@recipes_result.empty?  %>
      <%= render partial: "recipes/list", locals: {recipes: @recipes_result} %>
      <% else %>
       <%=   render partial: "recipes/empty" %>
      <% end%>
 </div>

<% end %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by marcel with <i class="fas fa-heart"></i>
  </div>
</div>
