<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <%= link_to "/", class: "navbar-brand" do %>
      <video width="100" height="50" autoplay loop>
        <source src="https://res.cloudinary.com/dzltofqgu/video/upload/c_crop,h_133,w_500/v1694011103/production/Logo_havxdo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <%# <img src="<%= asset_path("logonew.jpg") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <li class="nav-item">
           <%= link_to "My recipes","#{dashboard_path(session: "recipes" )}#recipes", class: "nav-link", id: "color" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#{dashboard_path(session: "messages" )}#messages", class: "nav-link", id: "color"  %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
                <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, class: "shadow-sw card-trip-user avatar" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "/dashboard", class: "dropdown-item", id: "color"  %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", id: "color" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
