<div class="modal fade" id="user-<%= recipe.user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel"><%= recipe.user.nickname %></h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= cl_image_tag recipe.user.avatar.key, crop: :fill, class: 'img-circle' %>
        <div class="my-text-info">

          <h2>Nickname:</h2><p><%= recipe.user.nickname %></p><br>
          <h2>Age:</h2><p><%= recipe.user.age %></p><br>
          <h2>Cooking Level:</h2><p><%= recipe.user.cooking_level %></p><br>
          <h2>Interested in:</h2><p><%= recipe.user.interested_in %></p><br>
          <h2>Availability:</h2><p><%= recipe.user.availability %></p>
        </div>
      </div>
    </div>
  </div>
</div>
