<div class="container mt-4">
  <div class="card">
    <h3 class="mb-4" id="recipes">My Recipes</h3>
    <div class="card-header d-flex justify-content-between align-items-center">
      <div data-controller="toggle">
        <button data-action="click->toggle#recipe"><i class="fa-solid fa-plus"></i></button>
        <p>Add a new recipe!</p>
        <div data-toggle-target="togglableElement" class="d-none">
          <%= render "recipes/form", recipe: @recipe %>
        </div>
      </div>
    </div>
    <div class="card-body mb-5">
      
      <% @user.recipes.each do |recipe| %>
        <div data-controller="toggle" class="recipe-item border p-3 mb-4">
          <div data-toggle-target="details">
            <h4><strong>Name:</strong> <%= recipe.title %></h4>
            <p><strong>Description:</strong> <%= recipe.description %></p>
            <p><strong>Level of Difficulty:</strong> <%= recipe.level_of_difficulty %></p>
            <p><strong>Cuisine:</strong> <%= recipe.cuisine %></p>
            <p><strong>Preparation time:</strong> <%= recipe.length %></p>
            <%= link_to "" ,
                        recipe_path(recipe),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                         class:"fa-solid fa-trash mb-5" %>
          </div>
           <div  data-id="<%= @recipe.id %>">
             <button data-action="click->toggle#editRecipe click->toggle#updatetoggle" ><i class="fa-regular fa-pen-to-square"></i></button>
              <div data-toggle-target="editRecipe" class="d-none">
                <%= render "recipes/editform", recipe: recipe %>
              </div>
           </div>
        </div>
      <% end %>
    </div>
  </div>
 <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 id="messages">My Messages</h3>

</div>
