
  <!-- Include Bootstrap CSS link here -->
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h2 id="color-green" class="card-title text-center mb-4" style="font-size: 20px">Log in</h2>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mt-4' }) do |f| %>
              <div id="color" class="form-group">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            label: 'Email',
                            label_html: { class: 'form-label' },
                            input_html: { class: 'form-control', autocomplete: 'email' } %>
              </div>
              <div id="color" class="form-group">
                <%= f.input :password,
                            required: false,
                            label: 'Password',
                            label_html: { class: 'form-label' },
                            input_html: { class: 'form-control', autocomplete: 'current-password' } %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div id="color" class="form-check mb-3">
                  <%= f.input :remember_me, as: :boolean, label: 'Remember me', input_html: { class: 'form-check-input' } %>
                </div>
              <% end %>
              <div class="text-center mt-4">
                <%= f.button :submit, "Log in", class: 'btn btn-ghost-solid btn-lg' %>
              </div>
            <% end %>
            <div class="text-center mt-3">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
